<ion-header>
  <!--<ion-navbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>Sudoku</ion-title>-->
  <!--</ion-navbar>-->

  <ion-toolbar>
    <ion-buttons start>
      <!--<button ion-button menuToggle>-->
        <!--<ion-icon name="menu"></ion-icon>-->
      <!--</button>-->
    </ion-buttons>
    <ion-title>Sudoku</ion-title>
    <ion-buttons end>
      <button ion-button color="royal" (click)="changeLevel()">{{level}}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home">

  <ion-grid col-lg-11 col-md-11 col-sm-11 justify-content-center>
    <ion-row *ngFor="let items of listRandomNumbers; let l = index">
      <ion-col text-center *ngFor="let itemValue of items; let c = index"
                                    style="font-size: 1.5em;"
                                    [ngClass]="{'col-top' : l == 0,
                                    'col-left' : c == 0,
                                    'col-right' : c == 2 || c == 5 || c == 8,
                                    'col-bottom' : l == 2 || l == 5 || l == 8,
                                    'col-left-thin' : c != 0 && c != 3 && c != 6,
                                    'col-bottom-thin' : l != 2 && l != 5 && l != 8,
                                    'col-color' : itemValue.isSelected,
                                    'text-color-same-number' : itemValue.isSameNumberSelected,
                                    'hide-text' : !itemValue.isVisible}"
               (click)="selectItem(itemValue)">{{itemValue.value}}</ion-col>
    </ion-row>


  </ion-grid>

  <ion-row justify-content-center col-lg-12>

    <ion-list no-lines class="select-numbers-list">
      <ion-item class="item-number">
        <button class="number-button" [disabled]="disableButton(1)" ion-button small round outline (click)="selectNumber(1)">1</button>
        <button class="number-button" [disabled]="disableButton(2)" ion-button small round outline (click)="selectNumber(2)">2</button>
        <button class="number-button" [disabled]="disableButton(3)" ion-button small round outline (click)="selectNumber(3)">3</button>
      </ion-item>
      <ion-item class="item-number">
        <button class="number-button" [disabled]="disableButton(4)" ion-button small round outline (click)="selectNumber(4)">4</button>
        <button class="number-button" [disabled]="disableButton(5)" ion-button small round outline (click)="selectNumber(5)">5</button>
        <button class="number-button" [disabled]="disableButton(6)" ion-button small round outline (click)="selectNumber(6)">6</button>
      </ion-item>
      <ion-item class="item-number">
        <button class="number-button" [disabled]="disableButton(7)" ion-button small round outline (click)="selectNumber(7)">7</button>
        <button class="number-button" [disabled]="disableButton(8)" ion-button small round outline (click)="selectNumber(8)">8</button>
        <button class="number-button" [disabled]="disableButton(9)" ion-button small round outline (click)="selectNumber(9)">9</button>
      </ion-item>
    </ion-list>

  </ion-row>
</ion-content>
